#### Data Collection
in this phase we will collect the data form the airline Quality called SKytrax . 
we will colect that  data using web scraping techniques y using  `BeatifulSoup` python package

In [7]:
# imports neccessary libaries

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [15]:
# create an empty list to collect all reviews
reviews = []

# create an empty list to correct ratings stars
stars = []

# create an empty list to collect the date
dates = []

# create an empty list to collect country  the reviewer
country =[]

In [30]:
# Loop through the first 35 pages
for i in range(1, 36):
    # Request the page content
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    # Parse the page content using html.parser
    soup = BeautifulSoup(page.content, "html.parser")
    
    # Find all the review text content
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text.strip())
    
    # Find all the ratings
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f'Error on page {i}')
            stars.append('None')
    
    # Find all the dates
    for item in soup.find_all("time"):
        dates.append(item.text.strip())
    
    # Find all the countries
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

# Print the first 5 entries as a sample

Error on page 33
Error on page 34
Error on page 34

In [37]:
# display the length of reviews and country
len(reviews),len(country),len(dates),len(stars)

(7000, 7000, 7000, 7000)

In [38]:

# Ensure all lists have the same length
min_length = min(len(reviews), len(stars), len(dates), len(country))
reviews = reviews[:min_length]
stars = stars[:min_length]
dates = dates[:min_length]
country = country[:min_length]


# create the df for those above list of data
df = pd.DataFrame({'reviews':reviews,'Stars':stars,'date':dates,'country':country})

In [39]:
df.head()

,reviews,Stars,date,country
0,✅ Trip Verified | British Airways new Club Sui...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,23rd June 2024,(Canada)
1,"✅ Trip Verified | Four very pleasant, on time...",5,18th June 2024,(United Kingdom)
2,Not Verified | We travel extensively over 25...,9,18th June 2024,(United Kingdom)
3,✅ Trip Verified | Flight delayed an hour due ...,2,17th June 2024,(United Kingdom)
4,✅ Trip Verified | A very full flight made Pre...,8,17th June 2024,(United Kingdom)

In [34]:
df.shape

(7000, 3)

In [40]:
# export data into csv format
df.to_csv('BA_reviews.csv')